<%= link_to "Back", tasks_path %>
<br>
<%= link_to "Edit", edit_task_path(@task) %>



<h1>Tache</h1>

<p>Title: <%= @task.title %></p>
<p>Details: <%= @task.details %></p>
<br>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/tasks/2"></a>
